.login-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.login-container {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 40px;

  width: 300px;
}

.login-container img {
  width: 180px;
  margin-bottom: 20px;
}

.login-container input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff3d1b;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

.signup-link {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 25px 40px 25px 40px;
}
.register-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.register-container {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 40px;

  width: 300px;
}

.register-container img {
  width: 180px;
  margin-bottom: 20px;
}

.register-container input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff3d1b;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

.login-link {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 25px 40px 25px 40px;
}

a {
  text-decoration: none;
  color: #ff3d1b;
  cursor: pointer;
}
.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}
.login-label {
  display: flex;
  font-size: 16px;
  color: #000000f5;
}
.signup-label {
  display: flex;
  font-size: 16px;
  color: #000000f5;
}

.home-body {
  height: 100%;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.logo-container {
  flex: 1;
  text-align: center;
  margin-left: 110px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.logo-text {
  color: #ff3d1b;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.navbar-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 50px;
  height: 50px;
}
.navbar-menu {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #ff3d1b;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}
.logout-button:hover {
  background-color: #c01f02;
}

.dropdown {
  cursor: pointer;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #ff3d1b;
  z-index: 1;
  justify-content: space-evenly;
  margin-left: -9px;
  margin-top: -20px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 60px;
  width: 80px;
  border-radius: 5px;
  position: absolute;
}
.btn-dropdown {
  background-color: #ff3d1b;
  color: white;
  border: none;
  cursor: pointer;
  width: 60px;
  border-radius: 5px;
  margin-left: 10px;
}
.btn-dropdown:hover {
  background-color: white;
  color: #ff3d1b;
  border: none;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Search {
  max-height: 100%;
  height: 550px;
  width: 100%;
  margin-top: -10px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.search-icon {
  width: 24px;
  height: 24px;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  left: 30px;

  z-index: 2;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #ff3d1b;
  transition: transform 0.3s, opacity 0.3s;
}

.burger-icon:hover .burger-line {
  background-color: #ff3d1b55;
}
.burger-open-div {
  background-color: rgb(0 0 0 / 78%);

  height: 100%;
  width: 20%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 9999;
  background-color: rgb(39 37 37);
}
.burger-close-btn {
  border: none;
  margin-top: 25px;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  color: #ff3d1b;
}
.burger-close-btn:hover {
  color: #ff3d1b55;
}
.burgermenu-buttons-wrapper {
  display: flex;
  background-color: rgb(39 37 37);
  flex-direction: column;
}
.burgerbuttons {
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  margin-left: 18px;
  border-radius: 5px;
}
.burgerbuttons:hover {
  background-color: #ff3d1b;
}
.burgerbuttons:nth-child(1) {
  margin-top: 50px;
}
.burger-span {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.profile-container {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 40px;

  width: 400px;
}

.profile-container input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}

.profile-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff3d1b;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

.profile-container-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.img-container {
  display: flex;
  justify-content: center;
}
.error-message {
  color: red;
}

.recipe-card {
  border: 1px solid #ddd;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-nav-button {
  background-color: #ff3e3e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.interactions {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.interactions button {
  background-color: #ff3e3e;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.interactions-svg {
  color: white;
}
.recipe-images-container {
  width: 90%;
  margin-left: 18px;
}
.recipe-images img {
  width: 100%;
}

.image-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.interactions-label {
  color: red;
  font-size: 16px;
  margin-left: 5px;
}
.interaction-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.username {
  font-size: large;
  font-weight: 600;
}
.name {
  font-size: medium;
  color: #333;
}

.recipepost-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 60px;
  height: 60px;
}
.user-info {
  display: flex;
  flex-direction: row;
}
.username-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.Recipes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .logo-container {
    flex: 1;

    margin-left: 0px;
  }
  .burger-open-div {
    background-color: rgb(0 0 0 / 78%);

    height: 100%;
    width: 65%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 9999;
    background-color: rgb(39 37 37);
  }
  .recipe-card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 370px;
    height: 100%;
  }
}
