.login-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.login-container {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 40px;

  width: 300px;
}

.login-container img {
  width: 180px;
  margin-bottom: 20px;
}

.login-container input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff3d1b;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

.signup-link {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 25px 40px 25px 40px;
}
.register-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.register-container {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 40px;

  width: 300px;
}

.register-container img {
  width: 180px;
  margin-bottom: 20px;
}

.register-container input {
  width: 92%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  background-color: #f7f7f7;
}

.register-container button {
  width: 100%;
  padding: 10px;
  background-color: #ff3d1b;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 40px;
}

.login-link {
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  padding: 25px 40px 25px 40px;
}

a {
  text-decoration: none;
  color: #ff3d1b;
  cursor: pointer;
}

.home-body {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  border-right: 1px solid #c3c3c39c;
}
.home-content {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-profilelink {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}
.HomePage-Profilepic {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 60px;
  height: 60px;
}
.ProfilePage-Profilepic {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 150px;
  height: 150px;
}
.NavBar-Profilepic {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.home-svg {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}
.home-svg:hover {
  color: rgb(0, 0, 0);
}
.Home {
  padding: 10px;
  width: 70%;
  border-radius: 40px;
}
.Home:hover {
  background-color: rgba(249, 247, 247, 0.886);
}

.Search-svg {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}
.Search-svg:hover {
  color: rgb(0, 0, 0);
}
.Search {
  padding: 10px;
  width: 70%;
  border-radius: 40px;
}
.Search:hover {
  background-color: rgba(249, 247, 247, 0.886);
}

.Profile {
  padding-left: 10px;
  width: 70%;
  border-radius: 40px;
}
.Profile:hover {
  background-color: rgba(249, 247, 247, 0.886);
}

.a-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  align-items: center;
}
.label-navbar-profile {
  padding-left: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.label-navbar-home {
  padding-left: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.label-navbar-explore {
  padding-left: 20px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.homepage-profilediv {
  margin: 50px;
  border-bottom: 1px solid rgba(96, 96, 96, 0.609);
}

.username-label {
  color: rgb(0, 0, 0);
}
.fullname-label {
  color: rgba(96, 96, 96, 0.609);
}
.fullnameprofile-label {
  color: rgba(96, 96, 96, 0.609);
  margin-bottom: 70px;
}
.usernameprofile-label {
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}
.userfullname-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 54px;
  margin-left: 12px;
}
.userfullnameprofile-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-left: 12px;
}
.homepage-profilediv {
  display: flex;
}

.Logout-wrapper {
  padding-left: 10px;
  width: 70%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: flex-end;
}
.Logout-container {
  border-radius: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.Logout-container:hover {
  background-color: rgba(249, 247, 247, 0.886);
}
.a-navbar-logout {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* margin-left: 50px; */
  justify-content: center;
}
.logout-label {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.searching-div {
  z-index: 1;
  position: absolute;
  left: 150px;
  top: 0px;
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  border-right: 1px solid #c3c3c39c;
  border-left: 1px solid #c3c3c39c;
}

.searchinput {
  background-color: rgba(247, 247, 247, 0.632);
  border: 1px solid rgba(232, 232, 232, 0);
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}
.searching-div-container {
  width: 100%;
  height: 100%;
  background-color: white;
}
h1 {
  font-weight: 500;
  font-size: x-large;
  margin: 10px;
}
.usersshow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.post-Profilepic {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 60px;
  height: 60px;
}

.poster {
  display: flex;
  justify-content: flex-start;
}
.profilepage-div {
  width: 80%;
  display: flex;
}
.profilepage-container {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  width: 50%;
}
.profilepageposts-container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: 50%;
}

.profilepageposts-add {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  width: 50%;
}
.fullname-div {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  width: 50%;
}
.Postsbtn {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  width: 50%;
}
.postsbtnprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.likecount {
  color: red;
}
.followbtn {
  background-color: #4ba8ff;
  color: white;

  cursor: pointer;
  height: 40px;
}
.followbtn:hover {
  background-color: #2a92f3;
}
.followbtn-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.addpost {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
.addbtn {
  background-color: #4ba8ff;
  color: white;

  cursor: pointer;
  height: 20px;
}
.addbtn:hover {
  background-color: #2a92f3;
}
